body{
    margin: 0px;
    padding: 0px;
    background-image: url(../main/img/bg02.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    line-height: 40px;
}
